.company_header{
    width:100%;
    height: 80vh;
    position: relative;
}

.company_header_swiper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.company_header_swiper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.company_header_opacity{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.company_header_box{
    position: absolute;
    z-index: 3;
    color: white;
    width: 100%;
    height: 100%;
}

.company_header_title{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.company_s1_text{
    display: flex;
    flex-direction: column;
    width: 50%;
    position: absolute;
    bottom: 10%;
    left: 4%;
}

.company_s1_text h3{
    font-weight: 700;
}
.company_s1_text p{
    font-weight: 700;
}


@media screen and (max-width: 800px){
    .company_s1_text{
        width: 100%;
        padding: 20px;
        left: 0;
        bottom: 2%;
    }
}