/* footer.css */
footer {
    width: 100%;
    height: 100vh;
    background: #000;
    position: fixed;
    transition: 1s;
    padding: 50px 0;
    bottom: 0;
    z-index: -10;
}

.footer_main ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_main ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
.footer_main ul li:hover a{
    color: rgba(255, 255, 255, .8);
}
.footer_btn{
    color: #000;
    background: rgba(255, 255, 255, 1);
    transition: 0.8s;
    padding: 5px 25px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 20px;
}
.footer_btn:hover{
    color: #000;
    background: rgba(255, 255, 255, .8);
}