@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
section{
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

.current-container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 30px;
}

@media screen and (max-width: 1000px) {
    .current-container{
        padding: 0 15px;
    }
}
